@import "../node_modules/@angular/material/theming";
@include mat-core();

$my-primary: mat-palette($mat-teal, 800);
$my-accent: mat-palette($mat-light-green, 800);
$my-warn: mat-palette($mat-red);

$my-theme: mat-light-theme($my-primary, $my-accent, $my-warn);

@include angular-material-theme($my-theme);
//for dark theme
$my-primary-dark: mat-palette($mat-orange, 800);
$my-accent-dark: mat-palette($mat-pink, 800);
$my-warn-dark: mat-palette($mat-blue);

$my-theme-dark: mat-light-theme($my-primary-dark, $my-accent-dark, $my-warn-dark);

.dark-theme-mode {
    @include angular-material-theme($my-theme-dark)
}
